.comunidad__uno{
    padding-bottom:  50px;
    margin: 0px;
}

.section__comunidad{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "texto card1 card2 card3"
    "boton card1 card2 card3";
    grid-template-rows: 100px 150px 250px;
    grid-template-columns: 400px auto auto auto;
    background-color:none;
    padding: 15px;
    margin-top: 25px;
    height: 500px;
    align-content: center;
    justify-content: space-around;


        .tc{
            font-size: 20px;
            width: 350px;
            padding: 15px;
            grid-area: texto;
            justify-self: center;
        }
        .tt{
            color: #4D81BA;
            font-weight: bold;
            font-size: xx-large;
            grid-area: titulo;
            align-content: start;
            padding: 25px;
            text-align: left;
        }

            .co{
                grid-area: boton;
                align-self: start;

            }


    }
.card1{
    grid-area: card1;
    width: 270px;
    height: 360px;
    background-color:  rgb(204, 230, 238);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card2{
    grid-area: card2;
    width: 270px;
    height: 360px;
    background-color:  rgb(204, 230, 238);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card3{
    grid-area: card3;
    width: 270px;
    height: 360px;
    background-color: rgb(204, 230, 238);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-body{
    display: grid;
    grid-template-areas: 
    "foto h5"
    "texto texto";
    grid-template-rows: 60px 290px;
    grid-template-columns: 60px 190px;
        .fotoperfil{
            grid-area: foto;
        }
            .card-title{
                grid-area: h5;
            }
                .pc{
                    grid-area: texto;
                }
}

 .card-tittle{
    color: white;
    text-align: end;
 }


 @media screen and (max-width: 768px){
  .section__comunidad{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "texto texto texto"
    "boton boton boton"
    "card1 card2 card3";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    padding: 15px;
    margin-top: 150px;
    margin-bottom: 300px;
    align-content: center;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;


        .tc{
            font-size: 20px;
            width: 350px;
            grid-area: texto;
            justify-self: center;
        }
        .tt{
            color: #4D81BA;
            font-weight: bold;
            font-size: xx-large;
            grid-area: titulo;
            align-content: start;
            text-align: center;
        }

            .boton{
                grid-area: boton;
                align-self: center;
                justify-self: center;

            }

    }
.card1{
    grid-area: card1;
    width: 210px;
    height: 450px;
    background-color:  rgb(204, 230, 238);
}

.card2{
    grid-area: card2;
    width: 210px;
    height: 450px;
    background-color:  rgb(204, 230, 238);  
}

.card3{
    grid-area: card3;
    width: 210px;
    height: 450px;
    background-color: rgb(204, 230, 238);   
}
.card-body{
    display: grid;
    grid-template-areas: 
    "foto h5"
    "texto texto";
    grid-template-rows: 45px 290px;
    grid-template-columns: auto auto;
    row-gap: 7px;
        .fotoperfil{
            grid-area: foto;
            width: 40px;
        }
            .card-title{
                grid-area: h5;
                font-size: 15px;
            }
                .pc{
                    grid-area: texto;
                    width: 190px;
                }
 }
}
  
@media screen and (max-width: 576px){
    .section__comunidad{
      display: grid;
      grid-template-areas: 
      "titulo titulo titulo"
      "texto texto texto"
      "boton boton boton"
      "card1 card1 card1"
      "card2 card2 card2"
      "card3 card3 card3";
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto;
      padding: 15px;
      margin-top: 300px;
      margin-bottom: 300px;
      align-content: center;
      justify-content: center;
      row-gap: 15px;
      column-gap: 15px;
  
  
          .tc{
              font-size: 20px;
              width: 350px;
              grid-area: texto;
              justify-self: center;
          }
          .tt{
              color: #4D81BA;
              font-weight: bold;
              font-size: xx-large;
              grid-area: titulo;
              align-content: start;
              text-align: center;
          }
  
              .boton{
                  grid-area: boton;
                  align-self: center;
                  justify-self: center;
  
              }
  
      }
  .card1{
      grid-area: card1;
      width: 500px;
      height: 230px;
      background-color:  rgb(204, 230, 238);
  }
  
  .card2{
      grid-area: card2;
      width: 500px;
      height: 230px;
      background-color:  rgb(204, 230, 238);  
  }
  
  .card3{
      grid-area: card3;
      width: 500px;
      height: 230px;
      background-color: rgb(204, 230, 238);   
  }
  .card-body{
      display: grid;
      grid-template-areas: 
      "foto h5"
      "texto texto";
      grid-template-rows: auto auto;
      grid-template-columns: 60px auto;
      row-gap: 7px;
          .fotoperfil{
              grid-area: foto;
              width: 60px;
          }
              .card-title{
                  grid-area: h5;
                  font-size: 20px;
              }
                  .pc{
                      grid-area: texto;
                      width: 480px;
                  }
  }
   }

 

