.section__bienvenidos{
    text-align: center;
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    padding: 75px;
    border: solid px #4D81BA;

    height: 570px;
}

.categorias{
    text-align: right;
    height: 500px;
    background-color: #d0e6fc;
    margin-bottom: 100px;
    display: grid;
    grid-template-areas: 
    "australia eeuu noruega titulo"
    "australia eeuu noruega texto"
    "australia eeuu noruega boton";
    grid-template-columns: auto auto auto 400px;
    grid-template-rows: 100px 150px 250p;
    justify-content: space-around;
    align-content: center;

    .tt{
        color: #4D81BA;
        font-weight: bold;
        font-size: xx-large;
        grid-area: titulo;
        align-content: start;
        padding: 25px;
        text-align: left;
    }
    
    .tc{
        font-size: 20px;
        width: 350px;
        padding: 15px;
        grid-area: texto;
        justify-self: center;
    }
    
    .boton pai{
        grid-area: boton;
        align-self: center;
    
    }
}

.australia{
    grid-area: australia;
}

.eeuu{
    grid-area: eeuu;
}

.noruega{
    grid-area: noruega;
}



.informacion__general{
    padding: 40px;
}

.card-img-overlay{
    text-align: end;
    justify-content: end;
    justify-self: end;
}

@media screen and (max-width: 768px){
    .categorias{
        text-align: center;
        background-color: #d0e6fc;
        margin-bottom: 100px;
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo"
        "texto texto texto"
        "boton boton boton"
        "australia eeuu noruega";
        grid-template-columns: 190px 190px 190px;
        grid-template-rows: auto auto auto auto;
        align-content: center;
        justify-content: space-evenly;
        row-gap: 5px;

    
        .tt{
            color: #4D81BA;
            font-weight: bold;
            font-size: xx-large;
            grid-area: titulo;
            width: 700px;
            text-align: center;
            padding: 25px;

        }
        
        .tc{
            font-size: 20px;
            width: 350px;
            padding: 15px;
            grid-area: texto;
            width: 700px;
            text-align: center;
        }
        
        .boton{
            grid-area: boton;
            align-self: center;
           justify-self: center;
        }
    }
    
    .australia{
        grid-area: australia;
    }
    
    .eeuu{
        grid-area: eeuu;
    }
    
    .noruega{
        grid-area: noruega;
    }
    
    
    
    .informacion__general{
        padding: 40px;
    }
    
    .card-img-overlay{
        text-align: end;
        justify-content: end;
        justify-self: end;
    }
}

@media screen and (max-width: 576px){
    .categorias{
        text-align: center;
        background-color: #d0e6fc;
        margin-bottom: 100px;
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo"
        "texto texto texto"
        "boton boton boton"
        "australia eeuu noruega";
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: auto auto auto auto;
        align-content: center;
        justify-content: space-evenly;
        row-gap: 5px;

    
        .tt{
            color: #4D81BA;
            font-weight: bold;
            font-size: xx-large;
            grid-area: titulo;
            width: 500px;
            text-align: center;
            padding: 25px;

        }
        
        .tc{
            font-size: 20px;
            width: 350px;
            padding: 15px;
            grid-area: texto;
            width: 500px;
            text-align: center;
        }
        
        .boton{
            grid-area: boton;
            align-self: center;
           justify-self: center;
           margin: auto;
        }
    }
    
    .australia{
        grid-area: australia;
    }
    
    .eeuu{
        grid-area: eeuu;
    }
    
    .noruega{
        grid-area: noruega;
    }
    
    
    
    .informacion__general{
        padding: 40px;
    }
    
    .card-img-overlay{
        text-align: end;
        justify-content: end;
        justify-self: end;
    }
    .card-texts{
        font-size: 8px ;
    }
    .card-titles{
        font-size: 13px;
    }
}