h1 {
    color:#4D81BA;
    font-weight: bolder;
}
  
h2 {
    color: #93B5D1;
    font-weight: bold;
}
  
h3 {
    color: #a9c8e2;
    font-weight: normal;
}
p{
    color:#1d528a;
    font-weight: lighter;
}

.t1{
    color:#4D81BA;
    font-weight: bolder;
    padding-bottom: 40px;
    font-size: xxx-large;
}

.t2{
    color: #93B5D1;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 30px;
}

.t3{
    color: #ffff;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}

.pc{
    font-size: 13px;
    padding: 8px;
}

h5{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.card-titles{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.card-texts{
    font-size: 10px;
    font-weight: normal;
    color: white;
}